.profile_header-avatar {
    max-height: 18em;
    max-width: 18em;
    left: 0;
    margin: 0 auto;
}
.user_avatar {
    border-radius: 100%;
}
.profile_header-avatar {
    width: 28vw;
    height: 28vw;
    min-height: 4em;
    min-width: 4em;
    max-height: 8em;
    max-width: 8em;
    left: -2vw;
    top: 3vw;
    position: relative;
    border: 2px solid #fff;
}
.clipped_background_image--background_fill {
    background-color: #e9e9e9;
}
.clipped_background_image {
    background-position: center;
    background-size: cover;
}*, :after, :before {
    box-sizing: border-box;
}
.profile_header {
    max-height: 18em;
    color: #fff;
}
body {
    background-color: #f7f7f7;
    color: #222;
    font-family: Programme,sans-serif;
    line-height: 1.45;
    -webkit-text-size-adjust: 100%;
}
html {
    line-height: 1;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
::selection {
    background-color: #b2d7fe;